[Unit]
Description=Lotus Storage Miner
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/lotus-storage-miner run
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s
User=badugiss
Environment="BELLMAN_CUSTOM_GPU=NVIDIA Tesla V100:5120"

[Install]
WantedBy=multi-user.target
